@model Xktec.hqfq.Entity.LineInfo
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var s = ViewBag.cate as List<SelectListItem>;
}

<h2 class="shadow">创建新线路</h2>

<div>
<form action="javascript:lineSubmit('form','@Url.Action("edit", "line", null)');" method="post" id="form">
    <fieldset>
    <legend>线路基本信息</legend>
    <div class="formRow"><div class="field-label">@Html.LabelFor(c => c.Name, "线路名:")</div><div class="field-input">@Html.TextBoxFor(c => c.Name, new { emptyText = "请输入线路名，最多80字符", style = "width:450px;" })<span class="red bold">*(必填)</span></div></div>
    <div class="formRow"><div class="field-label">@Html.LabelFor(c => c.Day, "天 数:")</div><div class="field-input"><input name="Day" id="Day" value="@Model.Day" type="text" style="width:50px;" /><span class="red bold">*(必填)</span></div></div>
   <div class="formRow"> <div class="field-label">@Html.LabelFor(c => c.OutCity, "出发城市:")</div><div class="field-input">@Html.TextBoxFor(c => c.OutCity, new { style = "width:100px;" })</div></div>
    <div class="formRow"><div class="field-label">@Html.LabelFor(c => c.AdWords, "广告语:")</div><div class="field-input">@Html.TextBoxFor(c => c.AdWords, new { emptyText = "请输入线路广告语，最多140字符", style = "width:680px;" })</div></div>
    <div class="formRow"><div class="field-label">@Html.LabelFor(c => c.Category, "分类:")</div>
    <div class="field-input">@Html.DropDownList("category.id", ViewBag.cate as List<SelectListItem>, new { id = "Category", onchange = "imageInit(swf)" })</div></div>
    <div class="formRow"><div class="field-label"><label>线路配图:</label></div><div class="field-input">
     <select name="image.id" id="image" class="egg_imagedropdown" imageId="@Model.Image.Id"></select>
     </div>
     <div> <span id="upLoadButton"></span></div> 
</div>
    </fieldset>
    <fieldset>
    <legend>行程信息</legend>
    <table id="itin" class="table-style">
    <thead><tr align="center"><td  style="width:60px;">日期</td><td width="70px">所经城市</td><td>详情</td><td width="50px">住宿</td><td  width="50px">用餐</td></tr></thead>
    <tbody align="center">
       @{var itins= Model.Itineraries.OrderBy(c=>c.OrderNum);}
   @{ for (int i = 0; i < Model.Itineraries.Count; i++)
      {
          var item = itins.ElementAt(i); 
    <tr><td><input type="hidden"value="@item.OrderNum"  name='itineraries[@i].OrderNum' /><input type="hidden"value="@item.Id"  name='itineraries[@i].Id' />  第 <span class="red bold"> @(i + 1)</span> 天</td><td><textarea  name="itineraries[@i].title"  style="height:120px; width:70px;" >@item.Title</textarea></td><td><textarea name="itineraries[@i].maincontent"style="height:120px; width:500px;" >@item.MainContent</textarea></td><td><textarea name="itineraries[@i].hotel" style="height:120px; width:50px;" >@item.Hotel</textarea></td>
    <td>早  @if (item.HasBreakfast == true)
           {<input type="checkbox" checked="checked" name="itineraries[@i].HasBreakfast"   value="true" /><input name="Itineraries[@i].HasBreakfast" type="hidden" value="false" />}
           else
           {<input type="checkbox" name="itineraries[@i].HasBreakfast"   value="true" /><input name="Itineraries[@i].HasBreakfast" type="hidden" value="false" />}
                                                                                                                                                                                                                               
    <br />中 @if (item.HasLunch == true)
            {<input type="checkbox" checked="checked" name="Itineraries[@i].HasLunch"  value="true"/><input name="Itineraries[@i].HasLunch" type="hidden" value="false" />}
            else
            {<input type="checkbox"  name="Itineraries[@i].HasLunch"    value="true"/><input name="Itineraries[@i].HasLunch" type="hidden" value="false" /> }
    <br />晚 @if (item.HasDinner == true)
            {<input type="checkbox" name="Itineraries[@i].HasDinner" checked="checked" value="true" /><input name="Itineraries[@i].HasDinner" type="hidden" value="false" />}
            else
            {<input type="checkbox" name="Itineraries[@i].HasDinner"  value="true" /><input name="Itineraries[@i].HasDinner" type="hidden" value="false" /> }
    <br /> 
    </td></tr>
        
      }
     }
        
    </tbody>
    </table>
    </fieldset>
    <div id="otherInfo">
    <fieldset>
    <legend>其他信息</legend>
    <fieldset>
    <legend >注意事项</legend>
    <ul id="cautions" nameText="注意事项">
        <input type="hidden" name="cautions" value="" />
        @if (String.IsNullOrEmpty(@Model.Cautions))
        {
            <li><input type="text"  emptyText = "请在这里输入第一条注意事项", style = "width:670px; margin-left:20px;", onfocus = "lineOtherInfoOnfocus(this)", onblur = "lineOtherInfoBlur(this)" /></li>
        }
        else
        {
            var cautions = Model.Cautions.Split(new string[] { "|||" }, StringSplitOptions.None);
            for (int i = 0; i < cautions.Length; i++)
            {
                if (i == 0)
                {
                      <li><input type="text" value="@cautions[i]"  emptyText = "请在这里输入第一条注意事项", style = "width:670px; margin-left:20px;", onfocus = "lineOtherInfoOnfocus(this)", onblur = "lineOtherInfoBlur(this)" /></li>
                }
                else
                {   
                     <li><input type="text" value="@cautions[i]"  emptyText = "请在这里输入下一条注意事项", style = "width:670px; margin-left:20px;", onfocus = "lineOtherInfoOnfocus(this)", onblur = "lineOtherInfoBlur(this)" /></li>
                }
            }

        }
    </ul>
    </fieldset>
    <fieldset>
    <legend >线路特色</legend>
    <ul id="feautres" nameText="线路特色">
      <input type="hidden" name="features" value="" />
        @if (String.IsNullOrEmpty(@Model.Features))
        {
            <li><input type="text"  emptyText = "请在这里输入第一条线路特色", style = "width:670px; margin-left:20px;", onfocus = "lineOtherInfoOnfocus(this)", onblur = "lineOtherInfoBlur(this)" /></li>
        }
        else
        {
            var items = Model.Features.Split(new string[] { "|||" }, StringSplitOptions.None);
            for (int i = 0; i < items.Length; i++)
            {
                if (i == 0)
                {
                      <li><input type="text" value="@items[i]"  emptyText = "请在这里输入第一条线路特色", style = "width:670px; margin-left:20px;", onfocus = "lineOtherInfoOnfocus(this)", onblur = "lineOtherInfoBlur(this)" /></li>
                }
                else
                {   
                     <li><input type="text" value="@items[i]"  emptyText = "请在这里输入下一条线路特色", style = "width:670px; margin-left:20px;", onfocus = "lineOtherInfoOnfocus(this)", onblur = "lineOtherInfoBlur(this)" /></li>
                }
            }

        }
           </ul>
    </fieldset>
    <fieldset>
    <legend >自费项目</legend>
    <ul id="selffincitems" nameText="自费项目">
      <input type="hidden" name="selffincitems" value="" />
     @if (String.IsNullOrEmpty(@Model.SelfFincItems))
     {
            <li><input type="text"  emptyText = "请在这里输入第一条自费项目", style = "width:670px; margin-left:20px;", onfocus = "lineOtherInfoOnfocus(this)", onblur = "lineOtherInfoBlur(this)" /></li>
     }
     else
     {
         var items = Model.SelfFincItems.Split(new string[] { "|||" }, StringSplitOptions.None);
         for (int i = 0; i < items.Length; i++)
         {
             if (i == 0)
             {
                      <li><input type="text" value="@items[i]"  emptyText = "请在这里输入第一条自费项目", style = "width:670px; margin-left:20px;", onfocus = "lineOtherInfoOnfocus(this)", onblur = "lineOtherInfoBlur(this)" /></li>
             }
             else
             {   
                     <li><input type="text" value="@items[i]"  emptyText = "请在这里输入下一条自费项目", style = "width:670px; margin-left:20px;", onfocus = "lineOtherInfoOnfocus(this)", onblur = "lineOtherInfoBlur(this)" /></li>
             }
         }

     }
         </ul>
    </fieldset>
       <fieldset>
    <legend >费用包含</legend>
    <ul id="chargeIns" nameText="费用包含">
    <input type="hidden" name="chargeIns" value="" />
    @if (String.IsNullOrEmpty(@Model.ChargeIns))
    {
            <li><input type="text"  emptyText = "请在这里输入第一条费用包含", style = "width:670px; margin-left:20px;", onfocus = "lineOtherInfoOnfocus(this)", onblur = "lineOtherInfoBlur(this)" /></li>
    }
    else
    {
        var items = Model.ChargeIns.Split(new string[] { "|||" }, StringSplitOptions.None);
        for (int i = 0; i < items.Length; i++)
        {
            if (i == 0)
            {
                      <li><input type="text" value="@items[i]"  emptyText = "请在这里输入第一条费用包含", style = "width:670px; margin-left:20px;", onfocus = "lineOtherInfoOnfocus(this)", onblur = "lineOtherInfoBlur(this)" /></li>
            }
            else
            {   
                     <li><input type="text" value="@items[i]"  emptyText = "请在这里输入下一条费用包含", style = "width:670px; margin-left:20px;", onfocus = "lineOtherInfoOnfocus(this)", onblur = "lineOtherInfoBlur(this)" /></li>
            }
        }

    }
    </ul>
    </fieldset>
       <fieldset>
    <legend >费用不含</legend>
    <ul id="chargeExs" nameText="费用不含">
        <input type="hidden" name="chargeExs" value="" />
          @if (String.IsNullOrEmpty(@Model.ChargeExs))
          {
            <li><input type="text"  emptyText = "请在这里输入第一条费用不含", style = "width:670px; margin-left:20px;", onfocus = "lineOtherInfoOnfocus(this)", onblur = "lineOtherInfoBlur(this)" /></li>
          }
          else
          {
              var items = Model.ChargeExs.Split(new string[] { "|||" }, StringSplitOptions.None);
              for (int i = 0; i < items.Length; i++)
              {
                  if (i == 0)
                  {
                      <li><input type="text" value="@items[i]"  emptyText = "请在这里输入第一条费用不含", style = "width:670px; margin-left:20px;", onfocus = "lineOtherInfoOnfocus(this)", onblur = "lineOtherInfoBlur(this)" /></li>
                  }
                  else
                  {   
                     <li><input type="text" value="@items[i]"  emptyText = "请在这里输入下一条费用不含", style = "width:670px; margin-left:20px;", onfocus = "lineOtherInfoOnfocus(this)", onblur = "lineOtherInfoBlur(this)" /></li>
                  }
              }

          }
   </ul>
    </fieldset>
    <fieldset>
    <legend >温馨提示</legend>
    <ul id="tips" nameText="温馨提示">
         <input type="hidden" name="tips" value="" />
          @if (String.IsNullOrEmpty(@Model.Tips))
          {
            <li><input type="text"  emptyText = "请在这里输入第一条自费项目", style = "width:670px; margin-left:20px;", onfocus = "lineOtherInfoOnfocus(this)", onblur = "lineOtherInfoBlur(this)" /></li>
          }
          else
          {
              var items = Model.Tips.Split(new string[] { "|||" }, StringSplitOptions.None);
              for (int i = 0; i < items.Length; i++)
              {
                  if (i == 0)
                  {
                      <li><input type="text" value="@items[i]"  emptyText = "请在这里输入第一条温馨提示", style = "width:670px; margin-left:20px;", onfocus = "lineOtherInfoOnfocus(this)", onblur = "lineOtherInfoBlur(this)" /></li>
                  }
                  else
                  {   
                     <li><input type="text" value="@items[i]"  emptyText = "请在这里输入下一条温馨提示", style = "width:670px; margin-left:20px;", onfocus = "lineOtherInfoOnfocus(this)", onblur = "lineOtherInfoBlur(this)" /></li>
                  }
              }

          }
   </ul>
    </fieldset>
    </fieldset> </div>
    <input type=submit value="tijiao" />
    </form>
</div>
<div id="cropWindow" class="mini-window" title="剪裁图片"  style="width:590px; height:460px;" 
    showModal="true" allowResize="true" allowDrag="true"
    >
  <div class="crop"> 
   <div id="cropzoom_container"  ></div> 
   <div class="page_btn"> 
       <a class="mini-button" id="crop" iconCls="icon-save">剪切照片</a>
        <a class="mini-button" id="restore" iconCls="icon-reload"> 照片复位</a>
    
   </div> 
   <div class="clear"></div> 
</div> 
    </div>
<script type="text/javascript">
    var swfu = new SWFUpload(swfSetting);
    loadingImg("image", $("#Category").val(), 0);
</script>
