@using Webdiyer.WebControls.Mvc;
@model PagedList<web.LineInfo>

@{
    ViewBag.Title = "List";

    Layout = "~/Views/Line/_LineHead.cshtml";
}
<h2>List</h2>
<div>
<div style="height:50px;"></div>
<table class="table-style"   >
<thead><tr><th>序号</th><th>线路名</th><th>所属分类</th><th>天数</th><th>登记信息</th><th>操作</th></tr></thead>
<tbody>
@{int i = Model.StartRecordIndex;}
@foreach (var item in Model)
{  
<tr><td width="50" align="center" >@(i++)</td><td  width="360px">@item.Name（@item.AdWords）</td><td width="80" align="center">@item.Category.Name
</td><td align="center">@item.Day</td><td align="center" width="100"> <br /> @item.CreateTime.ToString()</td><td align="center" class="op-td">@Html.ActionLink("改", "edit", "line", new { id = @item.Id }, null)<a href="javascript:closeLine('@item.Id')" >关闭</a>@Html.ActionLink("复制", "copy", "line", new { id = @item.Id },null) @Html.ActionLink("计划", "create", "plan", new { id = @item.Id },null)</td></tr>
}
</tbody>
<tfoot><tr><td colspan="6" align="right"> @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "p",  CurrentPagerItemWrapperFormatString = "<span class=\"currentPageNumber\">{0}</span>", NumericPagerItemWrapperFormatString = "<span class=\"pageNumber\">{0}</span>", CssClass = "pages", SeparatorHtml = "" }) </td></tr></tfoot>
</table>
</div>
