<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")?v=1.1" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/swfupload/swfupload.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/swfupload/handlers.js")" type="text/javascript"></script>
    <script src="~/Content/Scripts/miniui/boot.js" type="text/javascript"></script>
    <link href="~/Content/Scripts/cropzoom/jquery.cropzoom.css" rel="stylesheet" />
<script src="~/Content/Scripts/cropzoom/jquery.cropzoom.js" type="text/javascript"></script>
    <link href="~/Content/Scripts/egg/egg.css" rel="stylesheet" />
    <script src="~/Content/Scripts/egg/egg.js" type="text/javascript"></script>
    <script src="~/Content/Scripts/Script1.js" type="text/javascript"></script> 
    <script type="text/javascript">




        $(document).ready(function () {
            tableTrInit();
            //初始左侧主菜单标题
            $("#left-menu .title").click(function () { $(this).next("ul").slideToggle(150); });
            //初始化顶部主菜单
            $(".nav-site a").removeClass();
        
            //设置当前分页
          //  try { $('#@ViewBag.tab').addClass("current"); } catch (e) { }
            //根据当前部门设定目的地
         //   try { desList($d("DepartmentId").value); } catch (e) { }
            //设置左侧选中菜单
       //     $("#@ViewBag.leftmenu").addClass("on");
         //   $("#@ViewBag.leftmenu a").addClass("left-menu-selected");
            //根据天数设置行程条目
            $("#Day").blur(function () { itin("itin", $(this).val()); });
            //初始化EmptyText
            emptyTextInit();

        });

        function $d(id) { return document.getElementById(id); }
        function removeself(obj) {
            $(obj).remove();
        }

    </script>
</head>
<body>
    <div id="header">
        <div id="logo">
            <img alt="环球风情" height="120px" src="@Url.Content("~/Content/images/logo.png")" /></div>
        <div id="header_right">
            <ul>
                <li>你好! @User.Identity.Name</li>
                <li><a href="@Url.Action("desktop", "home", null)"  hidefocus="true" class="top_icon_desktop">桌面</a>
                    <a href="#" class="top_icon_user" hidefocus="true">个人资料</a><a href="#" class="top_icon_exit" hidefocus="true">退出</a></li>
            </ul>
        </div>
    </div>
    <div id="mainwrap">
        <div class="left-memu" id="left-menu">
             <div class="title"> <img src="@Url.Content("~/content/images/m_1.png")"  width="15" height="15" />首页设置</div>
            <ul>
                <li><a href="home/aaaa" hidefocus="true">首页顶部项目</a></li>
                <li><a href="home/aaaa" hidefocus="true">首页推荐项目 </a></li>
            </ul>
       
            <div class="title">
                <img src="@Url.Content("~/Content/images/m_1.png")" width="15" height="15" />产品管理</div>
            <ul>
                <li id="line"><a  href="@Url.Action("create", "line", null)"  class="left-menu-right" hidefocus="true" >添加</a><a href="@Url.Action("", "line", null)"  hidefocus="true">  线 路</a></li>
                <li id="other"><a href="@Url.Action("list", "plan", new { id = 1 })"   hidefocus="true">其他广告信息 </a></li>
            </ul>

            <div class="title">
                <img src="@Url.Content("~/content/images/m_1.png")"  width="15" height="15" />基础数据</div>
            <ul>
                <li><a href="home/aaaa" hidefocus="true">目的地分类</a></li>
                <li><a href="home/aaaa" hidefocus="true">建议搜索词 </a></li>
                <li><a href="home/aaaa" hidefocus="true">用户管理</a></li>
                <li><a href="home/aaaa" hidefocus="true">销售信息管理</a></li>
            </ul>
        </div>

        <div id="mainbody">
            @RenderBody()
        </div>
        <div id="footer">
            <p>© 环球风情</p>
        </div>
</body>
</html>
