@model web.LoginModel

@{
    Layout = null;
}
<head>

    <title>环球风情</title>
    <script type="text/javascript" language="javascript" >
        function check_submit() {
            var loginname = document.getElementById("loginname");
            var password = document.getElementById("password");
            var form = document.getElementById("loginform");
            if (!loginname.value && loginname.value == "") {
                alert("用户名不能为空！"); loginname.focus();
                return false;
            }
            else if (!password.value && password.value == "") {

                alert("密码不能为空！"); password.focus();
                return false;
            }
            else {
                form.submit();
            }
        }
</script>
</head>
<body style=" background-color:rgb(1, 106, 169);   color:#000000; font:bold 12px arial;">
<div id="login"  style="margin:200  auto; height:380px;width:1050px; background-image:url(@Url.Content("~/Content/images/login.jpg"))">
  <form id="loginform" onsubmit="return check_submit()" action="@Url.Action("Login","Account",null)" method="post" >
    
      <div style="padding-top:200px;padding-left:380px; ">
        <label for="loginname" >账 号：</label>
        <input type="text" name="loginname" id="loginname" value="@Model.LoginName" style="width:160px;"/>
    </div>
    <div style="padding-left:380px; padding-top:10px;">
        <label  for="password">密 码：</label>
        <input type="password" name="password" id="password" style="width:160px;" />
         @Html.CheckBoxFor(c => c.RememberMe, new { })
        <label  for="rememberme" >记住我？</label>
    </div>
     <div style="padding-left:470px; padding-top:10px;">
          
       <img src="@Url.Content("~/Content/Images/login_btn.png")" alt="button"  onclick="check_submit()" style="cursor:pointer;"/>
      
    </div>
      </form>
</div>

</body>
